* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}


.header-main {
    padding: 6px;
    background: #009E1A;
    width: 100%;
    top:0;
    position: fixed;
}

.heading {
    display: inline-block;
    padding-left: 10px;
}

.section-title {
    color: #2ddf5c;
}

.aligning {
    width: calc(100% - 85px);
    text-align: right;
}

.pad{
    padding: 0;
    margin: 0;
}

.list{
    padding-right: 5px;
    padding-left: 5px;
}


.anc{
    text-decoration: none;
    color: #092345;
    font-size: 20px;
    font-weight: bold;
}

.anc:hover{
    font-weight: bold;
    color: white;
    border: 2px grey solid;
    border-radius: 5px;
    border-style: solid;

}
.hosting {
    display: inline-block;
    background-color: red;
    border:1.5px black solid;
    border-radius: 8px;
    color: white;
    padding: 10px;
}

.hosting > a {
    color: white;
}
.hosting > a:hover {
    color: black;
}

li > a {
    text-decoration: none;
    color: #092345;
    font-size: 20px;
    font-weight: bold;
}
.valign{
    vertical-align: middle;
}

#product-overview h1 {
    color: white;
    font-family: 'Anton', sans-serif;
}


.main-footer {
    background-color: black;
    color: white;
    margin-top: 48px;
    padding: 32px;
}

.main-footer__total {
        list-style: none;
    text-align: center;
}
.main-footer__list {

    display: inline-block;
}


.main-footer__element {
    color: white;
    padding: 5px;
    text-decoration: none;

}

.main-footer__element:hover {
    color: grey;
}